<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--BSI_HELP：用来定义此业务系统运行地区的地区代码-->
    <add key="CityCode" value="429005" />

    <!-- 暂时测试新的215.236图形数据服务接口 -->
    <add key="Feature" value="http://192.168.215.236/IGSLandService/Feature.asmx" />
    <add key="K10URL" value="http://192.168.215.236/webgis/webgisyth.html" />
  </appSettings>
  <connectionStrings>
    <add name="dn0pdaWh13ErOsc3pzeiQw==" connectionString="VdZZobwrwgRA60VQaO9aaVhaBvKRqmTIH099eeT6dezXQ10fUCF4Gd2DGmWpBmSS+QlCUBGH5ZzCZfl3K7xAftYopnZtomAtahNYaVKhzsA=" providerName="BSI.Utility.DB.Provider.Oracle.OracleDbProvider" />
  </connectionStrings>
</configuration>