<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="egovtools.Properties.Settings.ConnectionString" connectionString="Provider=MSDAORA;Data Source=newegov;Persist Security Info=True;Password=admin;User ID=fxbase"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>