<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--数据库设置-->
    <add key="username" value="FXBSE" />
    <add key="password" value="admin" />
    <add key="datasource" value="qjegov" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="dn0pdaWh13ErOsc3pzeiQw==" connectionString="P6AL+yDMmDqWkCTlH3+YUKq0RyMge2LvT+/JZoPU6XYKPfc7vBmKypvQlQqwq97TjipMUhnGF5fkDJSwDtAE1yr50zAXz8pWOb1IqTQO+Sg=" providerName="BSI.Utility.DB.Provider.Oracle.OracleDbProvider" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>