<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dn0pdaWh13ErOsc3pzeiQw==" connectionString="VdZZobwrwgRA60VQaO9aaVhaBvKRqmTIH099eeT6dezXQ10fUCF4Gd2DGmWpBmSS+QlCUBGH5ZzCZfl3K7xAftYopnZtomAtahNYaVKhzsA=" providerName="BSI.Utility.DB.Provider.Oracle.OracleDbProvider" />
  </connectionStrings>
</configuration>