<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TableToXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="TableToXML.Properties.Settings.ConnectionString" connectionString="Data Source=NEWEGOV;Persist Security Info=True;User ID=MY_DY;Password=sa;Unicode=True" providerName="System.Data.OracleClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <TableToXML.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </TableToXML.Properties.Settings>
    </userSettings>
</configuration>
